-# ページのヘッダー部分
.signup-header



.wrapper
  -# 登録方法選択画面
  .contents
    .contents__heading
      新規会員登録
    .btn__wrapper
      = link_to "#",class:"btn mail-address" do
        メールアドレスで登録する
      = link_to "#",class:"btn facebook"  do 
        Facebookで登録する
      = link_to "#",class:"btn google"  do
        googleで登録する
