-# ページのヘッダー部分
.signup-header

.wrapper
  -# 登録方法選択画面
  .contents
    .contents__heading
      新規会員登録
    .contents__btn
      = link_to "#",class:"contents__btn contents__mail-address" do
        %i.far.fa-envelope
        メールアドレスで登録する
      = link_to "#",class:"contents__btn contents__facebook" do
        %i.fab.fa-facebook-square
        Facebookで登録する
      = link_to "#",class:"contents__btn contents__google"  do
        %i.fab.fa-google
        googleで登録する
