.common-container
  = render "shared/step5-header"
  %main.step5-main
    %section.l-step5-container
      %h2.l-chapter-head.registraition
        会員登録完了
      .l-step5-inner.registration-form
        .l-step5-content
          %p 
            ありがとうございます。
            %br 
            会員登録が完了しました。
          %button{type: "submit", class: "btn-default btn-red"}
            メルカリをはじめる
      = link_to "#" do
        %img{class:"step5-banner-sp",src:"//www-mercari-jp.akamaized.net/assets/img/signup/jp/banner-sp.jpg?2651893653"}
      = link_to "#" do
        %img{class:"step5-banner-pc",src:"//www-mercari-jp.akamaized.net/assets/img/signup/jp/banner-pc.jpg?2651893653"}
  = render "shared/signup-footer"
  

