%body
  .user_page
    %header.user_page-header
      .yjContainer
        %a{:href => ""}
          .user_image= image_tag 'https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c32.0.127.127/10256953_450511921719235_7408583294706772933_n.jpg?oh=4b62cd6d72667f23c3c4781dfc763b61&oe=54D54A3C&__gda__=1423979953_5fc50daca871a07e83167f1afbc8d304'
          %h2
            テスト太郎
            %span さんのマイページ
    #contents.pt1em.pb1em
      #main_cnt_wrapper
        #yjContentsBody
          .yjContainer
            %ul.user_page-contents
              %li{:style => "background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')"}
                .meta
                  %header
                    .title 6才のボクが、大人になるまで。
                    %span.star
                      %span.rating-star
                        %i.star-actived.rate-100
                  .user_review 感動した！久々に名作に出会った感じ
              %li{:style => "background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')"}
                .meta
                  %header
                    .title 6才のボクが、大人になるまで。
                    %span.star
                      %span.rating-star
                        %i.star-actived.rate-100
                  .user_review 感動した！久々に名作に出会った感じ
              %li{:style => "background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')"}
                .meta
                  %header
                    .title 6才のボクが、大人になるまで。
                    %span.star
                      %span.rating-star
                        %i.star-actived.rate-100
                  .user_review 感動した！久々に名作に出会った感じ
              %li{:style => "background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')"}
                .meta
                  %header
                    .title 6才のボクが、大人になるまで。
                    %span.star
                      %span.rating-star
                        %i.star-actived.rate-100
                  .user_review 感動した！久々に名作に出会った感じ
              %li{:style => "background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')"}
                .meta
                  %header
                    .title 6才のボクが、大人になるまで。
                    %span.star
                      %span.rating-star
                        %i.star-actived.rate-100
                  .user_review 感動した！久々に名作に出会った感じ
              %li{:style => "background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')"}
                .meta
                  %header
                    .title 6才のボクが、大人になるまで。
                    %span.star
                      %span.rating-star
                        %i.star-actived.rate-100
                  .user_review 感動した！久々に名作に出会った感じ
              %li{:style => "background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')"}
                .meta
                  %header
                    .title 6才のボクが、大人になるまで。
                    %span.star
                      %span.rating-star
                        %i.star-actived.rate-100
                  .user_review 感動した！久々に名作に出会った感じ
              %li{:style => "background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')"}
                .meta
                  %header
                    .title 6才のボクが、大人になるまで。
                    %span.star
                      %span.rating-star
                        %i.star-actived.rate-100
                  .user_review 感動した！久々に名作に出会った感じ
