.common-header
  %h1
    //部分テンプレートのヘッダー
    = link_to "#" do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4194600336", alt: "merucari",class: 'common-header__image'
  -# active_redは赤丸表示、afterはactiveより後（右側）の線を定義、beforeはactiveより前（左側）
  - # thoughはすでに入力完了したページ部分、赤丸表示とactive_redまでの横線を赤く表示
  %nav.progress-bar.signup-bar
    %ol.clearfix
      %li.through
        会員情報
        .progress-status
      %li.through
        電話番号認証
        .progress-status
      %li.through
        お届け先住所入力
        .progress-status
      %li.active_red
        支払い方法
        .progress-status
      %li
        完了
        .progress-status