.search-container{
  .header{
    position: relative;
    .under-row{
      display: none;
    }
  }
  .header-wide{
    position: relative;
  }

  .search-content{
    position: relative;
    margin: 24px auto 0;
    padding: 0 0 40px;
  }
  .l-container{
    .l-content{
      .search-nav{
        display: table;
        width: 100%;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        .search-option:first-child{
          border-left: 0;
        }
        .search-option{
          display: table-cell;
          width: 50%;
          font-size: 12px;
          height: 72px;
          border-left: 1px solid #ccc;
          vertical-align: middle;
          text-align: center;
          i{
            color: #aaa;
          }
          .fa-sort{
            font-size: 14px;
          }
          .fa-search{
            font-size: 15px;
          }
          div{
            margin: 8px 0 0;
          }
        }
      }
      .item-box-container{
        .search-result-head{
          margin: 16px 4% 8px;
          font-size: 18px;
          font-weight: 600;
          &__text{
            margin: 0 0 0 4px;
            font-size: 16px;
            font-weight: 400;        
          }
        }
        .search-result-description{
          margin: 16px 4% 24px;
          font-size: 14px;
          line-height: 1.5;
        }
        .search-result-nothing{
          margin: 16px 4% 8px;
          font-size: 18px;
          font-weight: 600;
        }
        .search-result-number{
          margin: 8px 4%;
          font-size: 12px;
          color: #888;
        }
        .items-box-content{
          width: 92%;
          margin: 0 auto;
          .items-box{
            width: calc(33% - 2.666666px);
            margin: 0 4px 4px 0;
            position: relative;
            float: left;
            background: #fff;
            a{
              display: block;
              color: #333;
              .items-box-photo{
                overflow: hidden;
                position: relative;
                width: 100%;
                height: 0;
                padding: 0 0 100%;
                //縦長の画像の場合
                .is-higher-height{
                  top: 50%;
                  -webkit-transform: translate(0, -50%);
                  transform: translate(0, -50%);
                }
                //横長の画像の場合
                .is-higher-width{
                  width: auto;
                  left: 50%;
                  right: auto;
                  height: 100%;
                  -webkit-transform: translate(-50%, 0);
                  transform: translate(-50%, 0);
                }
                img{
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  z-index: 1;
                  width: 100%;
                }
              }
              .items-box-photo:nth-child(n + 2){
                display: none;
              }
              .items-box-body{
                padding: 8px;
                height: 110px;
                .font-2{
                  font-size: 16px;
                  font-weight: 400;
                  color: #333;
                }
                .items-box-name{
                  overflow: hidden;
                  position: relative;
                  font-weight: 400;
                  height: 3em;
                  line-height: 1.5;
                  word-break: break-word;
                  white-space: normal;
                }
                .items-box-name:after{
                  display: block;
                  content: '';
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  width: 50%;
                  height: 1.5em;
                  background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(72%, #fff));
                  background: linear-gradient(to right, rgba(255,255,255,0), #fff 72%);
                }
                .items-box-num{
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
                  margin: 8px 0 0;
                  .font-5{
                    font-size: 20px;
                    font-weight: 600;
                    color: #333;
                  }
                }
              }
            }
          }
        }
      }
      .pagination{
        margin: 20px 0 0;
        position: relative;
        font-size: 0;
        text-align: center;
        &__num{
          max-width: 220px;
          margin: 0 auto;
          .page{
            display: inline-block;
            width: 44px;
            height: 44px;
            border-radius: 4px;
            background: #fff;
            border: 1px solid #ccc;
            font-size: 14px;
            line-height: 42px;
            a{
              display: block;
              color: #333;
            }
          }
          .page.current{
            color: #fff;
            background: #ea352d;
          }
        }
        &__prev{
          position: absolute;
          left: 0;
          top: 0;
          display: none;
          .fa-angle-double-left{
            font-size: 22px;
            position: relative;
            top: 0.15rem;
          }
        }
        &__next{
          position: absolute;
          right: 0;
          top: 0;
          display: none;
          .fa-angle-double-right{
            font-size: 22px;
            position: relative;
            top: 0.15rem;
          }
        }
      }
    }
    .l-side{
      margin: 40px auto 0;
      form{
        .search-sort{
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 100;
          width: 50%;
          margin: 0 auto;
          .form-group:first-child{
            margin: 0;
          }
          .form-group{
            margin: 40px 0 0;
            display: block;
            .select-wrap{
              margin: 0;
              background: 0;
              text-align: center;
              position: relative;
              .fa-chevron-down{
                position: absolute;
                right: 16px;
                top: 50%;
                z-index: 2;
                color: #888;
                font-size: 16px;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
              }
              .select-default{
                height: 72px;
                padding: 0;
                border: 0;
                background: #fff;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                font-size: 15.5px;
                color: #333;
              }
            }
          }
        }
        .search-extend{
          display: none;
          width: 100%;
        }
        .search-dropdown-content{
          position: absolute;
          top: 72px;
          left: 0;
          right: 0;
          z-index: 10001;
          padding: 16px 5%;
          background: #fff;
          -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);
          box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);
          h3{
            font-size: 16px;
            font-weight: bold;
          }
          h3+.form-group{
            margin: 0;
          }
          .form-group{
            font-size: 0;
            margin: 40px 0 0;
            display: block;
            label{
              font-weight: 600;
              i{
                position: relative;
                top: -1px;
                margin: 0 4px 0 0;
                color: #888;
                font-size: 18px;
                vertical-align: middle;
              }
              i+span{
                font-size: 14px;
                vertical-align: middle;
              }
            }
            .input-default{
              margin: 8px 0 0;
            }
            .select-wrap{
              margin: 8px 0 0;
              position: relative;
              background: #fff;
              .fa-chevron-down{
                position: absolute;
                right: 16px;
                top: 50%;
                z-index: 2;
                color: #888;
                font-size: 16px;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
              }
              .select-default {
                position: relative;
                z-index: 2;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                width: 100%;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                color: #333;
              }
            }
            div{
              .select-category-child{
                display: none;
              }
              .checkbox-default:first-child{
                margin: 16px 0 0;
              }
              .checkbox-default:nth-child(even){
                margin: 16px 0 0 4%;
              }
              .checkbox-default {
                display: inline-flex;
                width: 48%;
                margin: 0;
                vertical-align: middle;
                word-break: break-word;
                margin-top: 16px;
                label{
                  display: inline-block;
                  position: relative;
                  z-index: 2;
                  padding: 0 0 0 5px;
                  font-size: 14px;
                  font-weight: 400;
                  vertical-align: middle;
                  cursor: pointer;
                }
              }
              .select-category-child.is-show{
                display: block;
                .fa-chevron-down{
                  position: absolute;
                  right: 16px;
                  top: 50%;
                  z-index: 2;
                  color: #888;
                  font-size: 16px;
                  -webkit-transform: translate(0, -50%);
                  transform: translate(0, -50%);
                }
              }
            }
            div{
              .select-category-grand-child{
                display: none;
              }
              .select-category-grand-child.is-show{
                display: block;
                .checkbox-default:first-child{
                  margin: 16px 0 0;
                }
                .checkbox-default:nth-child(even){
                  margin: 16px 0 0 4%;
                }
                .checkbox-default {
                  display: inline-block;
                  width: 48%;
                  vertical-align: middle;
                  word-break: break-word;
                  label{
                    display: inline-block;
                    position: relative;
                    z-index: 2;
                    padding: 0 0 0 5px;
                    font-size: 14px;
                    font-weight: 400;
                    vertical-align: middle;
                    cursor: pointer;
                  }
                }
              }
            }
          }
          .search-price{
            .input-default{
              width: 45%;
            }
            .tilde{
              display: inline-block;
              width: 10%;
              font-size: 14px;
              text-align: center;
            }
          }
          .search-extend-btn{
            height: 90px;
            padding: 40px 0 0;
            .btn-default{
              width: 45%;
            }
            .btn-gray{
              float: left;
            }
            .btn-red{
              float: right;
            }
          }
        }
      }
    }
  }
  .bread-crumbs{
    box-shadow: none;
    background: #f5f5f5;
  }
}

@media screen and(max-width: 767px){
.search-container{
  .l-container{
    .l-content{
      .item-box-container{
        .items-box-content{
          .items-box{
            a{
              .items-box-body{
                height: 0;
                padding: 0;
                .items-box-name{
                  height: 0;
                }
                .items-box-num{
                  margin-top: -28px;
                  .items-box-price{
                    background-color: rgba(0,0,0,0.3);
                    border-radius: 0 12px 12px 0;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 600;
                    padding: 4px 12px 4px 8px;
                    z-index: 2;
                  }
                  .font-2{
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .aside{
    display: none;
  }
}
}

@media screen and(min-width: 768px){
.search-container{
  .l-container{
    .l-content{
      .search-nav{
        border: 1px solid #ccc;
        background: #fff;
      }
      .item-box-container{
        .search-result-head{
          margin: 16px 0 8px;
        }
        .search-result-description{
          margin: 16px 0 40px;
        }
        .search-result-nothing{
          margin: 16px 0;
          font-size: 22px;
        }
        .search-result-number{
          margin: 16px 0;
        }
        .items-box-content{
          width: auto;
          .items-box:nth-child(4n + 1){
            margin-left: 0;
          }
          .items-box:nth-child(odd){
            margin: 0 20px 20px 0;
          }
          .items-box:nth-child(4n){
            margin-right: 0;
          }
          .items-box{
            width: 160px;
            margin: 0 20px 20px 0;
            a{
              .items-box-photo{
                width: 160px;
                height: 160px;
              }
              .items-box-body{
                position: relative;
                height: 58px;
                padding: 8px 12px;
                .items-box-name{
                  font-size: 14px;
                  .items-box-name:after{
                    width: 30%;
                  }
                }
                .items-box-num{
                  .items-box-price{
                    z-index: 2;
                    position: absolute;
                    top: -30px;
                    left: 0;
                    padding: 4px 12px 4px 8px;
                    border-radius: 0 16px 16px 0;
                    font-weight: 600;
                    color: #fff;
                    background-color: rgba(0,0,0,0.3);
                    font-size: 16px;
                  }
                  .font-2{
                    position: absolute;
                    right: 12px;
                    bottom: 10px;
                    padding-left: 32px;
                    background: linear-gradient(to right, rgba(255,255,255,0), #fff 24px);
                  }
                }
              }
            }
          }
        }
      }
      .pagination{
        margin: 40px 0 0;
        &__prev{
          display: block;
          .first{
            display: inline-block;
            width: 44px;
            height: 44px;
            border-radius: 4px;
            background: #fff;
            border: 1px solid #ccc;
            font-size: 14px;
            line-height: 42px;
            a{
              display: block;
              color: #333;
            }
          }
          .prev{
            display: inline-block;
            width: 44px;
            height: 44px;
            border-radius: 4px;
            background: #fff;
            border: 1px solid #ccc;
            font-size: 14px;
            line-height: 42px;
            a{
              display: block;
              color: #333;
            }
          }
        }
        &__next{
          display: block;
          .next{
            display: inline-block;
            width: 44px;
            height: 44px;
            border-radius: 4px;
            background: #fff;
            border: 1px solid #ccc;
            font-size: 14px;
            line-height: 42px;
            a{
              display: block;
              color: #333;
            }
          }
          .last{
            display: inline-block;
            width: 44px;
            height: 44px;
            border-radius: 4px;
            background: #fff;
            border: 1px solid #ccc;
            font-size: 14px;
            line-height: 42px;
            a{
              display: block;
              color: #333;
            }
          }
        }
      }
    }
    .l-side{
      width: 700px;
    }
  }
}
}

@media screen and(min-width: 1068px){
.search-container{
  .l-container{
    margin: 40px auto 0;
    width: 1020px;
    .l-content{
      .hidden-large{
        display: none;
      }
      .item-box-container{
        .search-result-head{
          font-size: 22px;
          margin: 0 0 8px;
          .search-result-head__text{
            font-size: 18px;
          }
        }
        .search-result-nothing{
          margin: 0 0 16px;
        }
        .search-result-number{
          margin: 16px 0;
        }
      }
    }
    .l-side{
      float: left;
      width: 280px;
      margin: 0 40px 0 0;
      .search-extend-container{
        position: relative;
        .search-sort{
          opacity: 1;
          position: static;
          width: auto;
          .form-group{
            select{
              width: 100%;
            }
            .select-wrap{
              background: #fff;
              text-align: left;
              .fa-chevron-down{

              }
              .select-default{
                height: 48px;
                padding: 0 16px;
                border: 1px solid #ccc;
              }
            }
          }
        }
        .search-dropdown-content{
          position: static;
          display: block;
          -webkit-box-shadow: none;
          box-shadow: none;
          padding: 16px;
        }
        .search-extend{
          margin: 40px 0 0;
          .visible-large{
            display: block;
          }
          h3+.form-group{
            margin: 24px 0 0;
          }
        }
      }
    }
  }
}
}