.adside{
  color: rgb(255, 255, 255);
  background-image: url("/images/merucari3.jpg");
  h2{
    a{
      background-color: rgba(0, 0, 0, 0.2);
      color: rgb(255, 255, 255);
      padding: 15px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        vertical-align: middle;
        width:50px;
        height: 50px;
        margin-right: 20px;
      }  
      .adside-banner__link{
        flex-direction: column;
        &__text{
          font-size: 20px;
          margin-top: 8px;
        }
      
      }
    }
  }
}