a{text-decoration: none;}
.header {
  background-color: white;
  z-index: 3;
  // height: 13vh;
  height: 100px;
  position: fixed;
  width: 100vw;
  .upper-row {
    display: flex;
    margin: 0 auto;
    height: 40px;
    &__logo {
      padding: 0 20px 0 200px;
      display: flex;
      height: 40px;
      &--mark {
        text-align: center;
        font-size: 25px;
        padding: 5px 0 0 0;
        width: 120px;
        height: 120px;
      }
    }
    &__search {
      margin: 5px 0 0 0;
      float: right;
      &--input {
        width: 40px;
        height: 40px;
        line-height: 15px;

      }
      &--button {
        font-size: 18px;
        cursor: pointer;
        height: 20px;
        
      }
    }
  }
  .under-row {
    display: flex;
    bottom: 0;
    width: 95vw;
    &__category {
      padding: 5px 20px 0 200px;
      width: 150px;
      height: 10wh;
      .list-tag {
        color: red;
        float: left;
        padding: 0 5px 0 0;
      }
      .list-name {
        padding: 0 0 0 5px;
        color: black;
        font-size: 13px;
        font-weight: 700;
      }
    }
    &__brand {
      width: 150px;
      padding: 5px 0 0 0;
      .list-tag {
        color: red;
        float: left;
      }
      .list-name {
        color: black;
        padding: 0 0 0 5px;
        font-size: 13px;
        font-weight: 700;
      }
    }
    &__lists {
      padding: 5px 0 0 180px;
      display: flex;
      .list {
        color: gray;
        padding: 0 5px 0 20px;
      }
      .list-name {
        color: black;
      }
    }
    &__user {
      margin-top: 8px;
      &__registration-btn{
        text-align: center;
        &__text{
          background-color: rgb(234, 53, 45);
          color: rgb(255, 255, 255);
          display: inline-block;
          font-size: 14px;
          border-radius: 4px;
          line-height: 16px;
          padding: 8px 10px;
          margin-right: 10px;
        }
      }
      &__login-btn{
        text-align: center;
        &__text{
          background-color: #fff;
          color: #0099e8;
          border: 1px solid #0099e8;
          display:inline-block;
          border-radius: 4px;
          line-height: 15px;
          padding: 8px 10px;

        }
      }
    }
  }
}
.middle-wrapper {
  padding: 16vh 0 0;
  .link-list {
    width: 100vw;
    height: 77vh;
    left: 0;
    background-color: antiquewhite;
    overflow: hidden;
    will-change: transform;
    animation: slider 20s infinite;
    &__home {
      width: 100vw;
      height: 38vh;
      float: left;
      position: relative;
    }
    &__information {
      width: 100vw;
      height: 38vh;
      float: left;
      position: relative;
    }
    &__application {
      width: 100vw;
      height: 38vh;
      float:left;
      position: relative;
      &--footer {
        bottom: 0;
        height: 30px;
        background-color: white;
        opacity: 0.3;
      }
    }
  }
}
